body 
{
background-color: #0099ff;
color: gray;
border-style: solid;
}


h1
{
text-shadow: 3px 2px black;
}


h2
{
text-decoration: underline;
}

p
{
font-style: italic;
}

nav ul
{
list-style-type: none;
margin: 0;
padding: 0;
}

nav li
{
float: left;
}

nav li a
{
display: block;
padding: 8px;
background-color: #dddddd;
text-decoration: none;
}

.active
{
background-color: #4CAF50;
}

section
{
display: flex;
}

aside
{
flex: 1;
}

article
{
flex: 4;
} 

